<div
    id='XdadFileCabinetFolderPicker'
    style='border: 2px solid green; z-index: 9000; background-color: white; display: none; padding: 10px;'
></div>



<!-- screen for file cabinet picker -->
<div
    id="dadFileCabinetFolderPicker"
    style='position: absolute; visibility: hidden; left: -1000px; z-index: 9998;'
>
    <table
        width="500px"
        cellspacing="0"
        cellpadding="0"
        border="0"
    >
        <tbody>
            <tr>
                <td
                    colspan="2"
                    style="width: 10; height: 30"
                ><img
                    height="100%"
                    width="10"
                    border="0"
                    src="/images/icons/popup/pdiv_header_l.gif"
                ></td>
                <td style="height: 30">
                    <table
                        height="100%"
                        width="100%"
                        cellspacing="0"
                        cellpadding="0"
                    >
                        <tbody>
                            <tr>

                                <td
                                    valign="middle"
                                    nowrap=""
                                    style="padding-left: 2px; background-image: url(/images/icons/popup/pdiv_header_bg.gif);"
                                ></td>
                                <td
                                    nowrap=""
                                    align="center"
                                    style="padding-right: 1px; background-image: url(/images/icons/popup/pdiv_header_bg.gif);"
                                    class="smalltextb"
                                ><font color="#000000">Choose Target Folder</font></td>
                                <td style="width: 1px; background-image: url(/images/icons/popup/pdiv_header_bg.gif);"><img
                                    src='/images/icons/controls/machine_x.gif'
                                    onclick='dadHideFileCabinetFolderPicker();'
                                    title='Closes this popup window'
                                    style='cursor: pointer;'
                                /></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td
                    colspan="2"
                    style="width: 10; height: 30"
                ><img
                    height="100%"
                    width="10"
                    border="0"
                    src="/images/icons/popup/pdiv_header_r.gif"
                ></td>
            </tr>
            <tr style="background: #ffffff">
                <td
                    width="1"
                    bgcolor="#999999"
                ><img
                    height="1"
                    width="1"
                    alt=""
                    src="/images/nav/ns_x.gif"
                ></td>
                <td
                    width="9"
                    bgcolor="#FFFFFF"
                    style="background-image: url(/images/icons/popup/pdiv_b_gradient.gif); background-repeat: repeat-x; background-position: bottom;"
                ><img
                    height="1"
                    width="9"
                    alt=""
                    src="/images/nav/ns_x.gif"
                ></td>
                <td
                    width="100%"
                    align="center"
                    style="background-image: url(/images/icons/popup/pdiv_b_gradient.gif); background-position: bottom; background-repeat: repeat-x"
                >

                    <div
                        style="padding: 20 30 0 30"
                        class="text"
                    >
                        <div
                            class="fgroup_title"
                            style="color: #5A6F8F; font-weight: 600; white-space: nowrap; margin: 0 0 2px 0; display: none"
                        ></div>


                        <div style='text-align: left'>







                            <iframe
                                id='dadIframeFileCabinetFolderPicker'
                                style='border: none;'
                            ></iframe>





                        </div>



                        <div
                            class='smalltext'
                            style='display: block; padding-top: 5px;; padding-bottom: 5px; font: normal 14px Open Sans, Helvetica, sans-serif;'
                        >
                            Currently selected folder: <span
                                id='dadSelectedFolderName'
                                style='font-weight: bold; font: normal 14px Open Sans, Helvetica, sans-serif;'
                            >None</span>
                        </div>







                        <table
                            cellspacing="0"
                            cellpadding="0"
                            id="dadSelectFolder_t"
                            style='display: inline-block;'
                        >
                            <tbody>
                                <tr>
                                    <td>
                                        <table
                                            cellspacing="0"
                                            cellpadding="0"
                                            border="0"
                                            style="margin-right: 6px; cursor: hand;"
                                            id="tbl_dadSelectFolder_b"
                                        >
                                            <tbody>
                                                <tr
                                                    class="pgBntG"
                                                    id="tr_dadSelectFolder_b"
                                                >
                                                    <td id="tdleftcap_dadSelectFolder_b"><img
                                                        height="50%"
                                                        width="3"
                                                        border="0"
                                                        class="bntLT"
                                                        src="/images/nav/ns_x.gif"
                                                    > <img
                                                        height="50%"
                                                        width="3"
                                                        border="0"
                                                        class="bntLB"
                                                        src="/images/nav/ns_x.gif"
                                                    ></td>
                                                    <td
                                                        height="20"
                                                        valign="top"
                                                        nowrap=""
                                                        class="bntBgB"
                                                        id="tdbody_dadSelectFolder_b"
                                                    ><input
                                                        type="button"
                                                        onclick='dadFolderSelectedFromFileCabinet();'
                                                        name="dadSelectFolder_b"
                                                        id="dadSelectFolder_b"
                                                        value="Select Folder"
                                                        class="rndbuttoninpt bntBgT"
                                                        style=""
                                                    ></td>
                                                    <td id="tdrightcap_dadSelectFolder_b"><img
                                                        height="50%"
                                                        width="3"
                                                        border="0"
                                                        class="bntRT"
                                                        src="/images/nav/ns_x.gif"
                                                    > <img
                                                        height="50%"
                                                        width="3"
                                                        border="0"
                                                        class="bntRB"
                                                        src="/images/nav/ns_x.gif"
                                                    ></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table
                            cellspacing="0"
                            cellpadding="0"
                            id="dadCancelSelectFolder_t"
                            style='display: inline-block;'
                        >
                            <tbody>
                                <tr>
                                    <td>
                                        <table
                                            cellspacing="0"
                                            cellpadding="0"
                                            border="0"
                                            style="margin-right: 6px; cursor: hand;"
                                            id="tbl_dadCancelSelectFolder_b"
                                        >
                                            <tbody>
                                                <tr
                                                    class="pgBntG"
                                                    id="tr_dadCancelSelectFolder_b"
                                                >
                                                    <td id="tdleftcap_dadCancelSelectFolder_b"><img
                                                        height="50%"
                                                        width="3"
                                                        border="0"
                                                        class="bntLT"
                                                        src="/images/nav/ns_x.gif"
                                                    > <img
                                                        height="50%"
                                                        width="3"
                                                        border="0"
                                                        class="bntLB"
                                                        src="/images/nav/ns_x.gif"
                                                    ></td>
                                                    <td
                                                        height="20"
                                                        valign="top"
                                                        nowrap=""
                                                        class="bntBgB"
                                                        id="tdbody_dadCancelSelectFolder_b"
                                                    ><input
                                                        type="button"
                                                        onclick='dadHideFileCabinetFolderPicker();'
                                                        name="dadCancelSelectFolder_b"
                                                        id="dadCancelSelectFolder_b"
                                                        value="Cancel"
                                                        class="rndbuttoninpt bntBgT"
                                                        style=""
                                                    ></td>
                                                    <td id="tdrightcap_dadCancelSelectFolder_b"><img
                                                        height="50%"
                                                        width="3"
                                                        border="0"
                                                        class="bntRT"
                                                        src="/images/nav/ns_x.gif"
                                                    > <img
                                                        height="50%"
                                                        width="3"
                                                        border="0"
                                                        class="bntRB"
                                                        src="/images/nav/ns_x.gif"
                                                    ></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                </td>
                <td
                    width="9"
                    bgcolor="#FFFFFF"
                    style="background-image: url(/images/icons/popup/pdiv_b_gradient.gif); background-repeat: repeat-x; background-position: bottom;"
                ><img
                    height="1"
                    width="9"
                    alt=""
                    src="/images/nav/ns_x.gif"
                ></td>
                <td
                    width="1"
                    bgcolor="#999999"
                ><img
                    height="1"
                    width="1"
                    alt=""
                    src="/images/nav/ns_x.gif"
                ></td>
            </tr>

            <tr>
                <td
                    width="10"
                    colspan="2"
                ><img
                    height="10"
                    width="10"
                    border="0/"
                    alt=""
                    src="/images/icons/popup/pdiv_ll.gif"
                ></td>
                <td
                    width="100%"
                    background="/images/icons/popup/pdiv_b_bg.gif"
                    align="left"
                ><img
                    height="1"
                    width="1"
                    alt=""
                    src="/images/nav/ns_x.gif"
                ></td>
                <td
                    width="10"
                    colspan="2"
                ><img
                    height="10"
                    width="10"
                    border="0/"
                    alt=""
                    src="/images/icons/popup/pdiv_lr.gif"
                ></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- end screen for file cabinet picker -->