/**
* © 2014 NetSuite Inc.  User may not copy, modify, distribute, or re-bundle or otherwise make available this code. 
*/

/* float clearing for IE6 */
* html .clearfix {
	height: 1%;
	overflow: visible;
}
/* float clearing for IE7 */
*+html .clearfix {
	min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
}

.x-tool-close {
    margin-top: 5px;
}

.dadFileStatusText {
	width: 320px;
	border: 0px dotted red;
	overflow: hidden;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	white-space: nowrap;
}

#dadRecordDropZone {
	color: silver;
	border: 2px dashed silver;
	position: absolute;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 6px;
	padding-right: 6px;
	vertical-align: center;
	visibility: hidden;
	z-index: 19;
	background-color: transparent;
	cursor: pointer;
	height: 28px;
}

#dadRecordDropZoneBackground {
	padding-left: 30px;
	border: 0px dashed red;
	position: absolute;
	vertical-align: center;
	visibility: hidden;
	z-index: 18; /* should be lower than that of  #dadRecordDropZone */
	background-color: white;
	vertical-align: middle;
	overflow: hidden;
}

#dadRecordDropZoneBackgroundStatus {
	margin-left: 7px;
	padding-right: 15px;
	padding-bottom: 7px;
	padding-left: 2px;
	margin-top: 0px;
	min-width: 300px;
	color: dimgray;
	position: absolute;
	height: 100%;
	z-index: 2;
	height: 100%;
	vertical-align: middle;
	padding-top: 9px;
	white-space: nowrap;
}

.dadCancelLink{
	float: right; 
	top: -5px;
}

#dadRecordDropZoneBackgroundBar {
	margin-left: 7px;
	padding-right: 15px;
	padding-left: 2px;
	margin-top: 0px;
	z-index: 1;
	position: absolute;
	background-color: lightblue;
	height: 100%;
	visibility: hidden;
}

.dadProgressBarBox {
	margin-top: 5px;
	border: 1px solid silver;
	width: 100%;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}

.dadProgressBar {
	background-color: lightblue;
	position: absolute;
	z-index: 1;
}

.dadProgressStatus {
	color: dimgray;
	position: absolute;
	z-index: 2;
	width: 92%;
	padding-left: 2px;
	margin: 0px;
	height: 20px;
}

.dadInfo {
	background-color: lightyellow;
	border: 1px solid yellow;
	color: dimgray;
	padding: 2px;
	position: absolute;
	z-index: 9000;
}


.x-tip .x-tip-tc {
    padding-top: 5px;
}