<div style="height: 83px">
    <div id='dndToolbar'>
        <span style='font-weight: bold'>Selected folder: </span>
        <div
            id='folderinfo'
            style='width: 300px; display: inline-block;'
        >None</div>
        <span class='dad-pipe'>|</span>
        <br>
        <span id='dadInfo'></span>
    </div>
    <div
        id='dadDropZone'
        onclick='dadShowMenu();'
        title='Click here to see additional options or to view your upload progress.'
    ></div>
    <div id='dadDropZoneBackground'>
        <div
            id='dadDropZoneBackgroundStatus'
            title='Click here for additional options or see your upload progress'
        >&nbsp;</div>
        <div id='dadDropZoneBackgroundBar'>&nbsp;</div>
    </div>
</div>

<iframe
    id='dadFileCabinet'
    src=''
    style="visibility: hidden; border: 0px solid red; margin-left: -10;"
></iframe>