<!-- screen for file cabinet picker -->
<div
    id="dadFileCabinetFolderPicker"
    style='position: absolute; visibility: hidden; left: -1000px; z-index: 9998;'
>

    <table
        width="auto"
        cellspacing="0"
        cellpadding="0"
        class="uir-popup"
    >
        <tbody>
            <tr class="uir-popup-header">
                <td>
                    <table
                        width="100%"
                        height="100%"
                        cellspacing="0"
                        cellpadding="0"
                    >
                        <tbody>
                            <tr>
                                <td
                                    valign="middle"
                                    nowrap=""
                                    style="padding-left: 2px;"
                                ></td>

                                <td
                                    nowrap=""
                                    style="padding-left: 5px; padding-right: 1px;"
                                    class="smalltextb"
                                >Choose Target Folder</td>
                                <td style="width: 1px;"><img
                                    src='/images/icons/controls/machine_x.gif'
                                    onclick='dadHideFileCabinetFolderPicker();'
                                    title='Closes this popup window'
                                    style='cursor: pointer; margin-right: 5px;'
                                /></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr class="uir-popup-body">
                <td><div
                        style="padding: 20px"
                        class="text"
                    >
                            <table
                                border="0"
                                cellspacing="1"
                            >
                                <tbody>
                                    <tr>
                                        <td align="center"><img
                                            width="175"
                                            height="1"
                                            border="0"
                                            src="/images/nav/stretch.gif"
                                        ></td>
                                        <td align="center"><img
                                            width="175"
                                            height="1"
                                            border="0"
                                            src="/images/nav/stretch.gif"
                                        ></td>
                                    </tr>
                                    <tr>
                                        <td colspan='2'>
                                            <div
                                                style="padding: 0 30 20 30"
                                                class="text"
                                            >
                                                <div
                                                    class="fgroup_title"
                                                    style="color: #5A6F8F; font-weight: 600; white-space: nowrap; margin: 0 0 2px 0; display: none"
                                                ></div>
                                                <div style='width: 100%; text-align: left;'>
                                                    <!-- start of content -->
                                                    <div style='text-align: left'>


                                                        <iframe
                                                            id='dadIframeFileCabinetFolderPicker'
                                                            style='border: none;'
                                                        ></iframe>

                                                    </div>


                                                    <!--
                                                    <div
                                                        class='smalltext'
                                                        style='display: block; padding-top: 5px;; padding-bottom: 5px; font: normal 14px Open Sans, Helvetica, sans-serif;'
                                                    >
                                                        Currently selected folder: <span
                                                            id='dadSelectedFolderName'
                                                            style='font-weight: bold; font: normal 14px Open Sans, Helvetica, sans-serif;'
                                                        >None</span>
                                                    </div>
                                                    -->
                                                    <!-- end of content -->
                                                </div>

                                                <table
                                                    style='widthx: 500px; align:'
                                                    border="0"
                                                >
                                                    <tr>
                                                        <td>
                                                            <table
                                                                id='dadNoteCategoryBox'
                                                                cellspacing='5'
                                                                style='margin-right: 20px'
                                                            >
                                                            </table>
                                                        </td>
                                                        <td
                                                            rowspan="2"
                                                            valign="top"
                                                        >
                                                            <table
                                                                id='dadNoteUserPreference'
                                                                cellspacing='5'
                                                            >
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <table
                                                                cellspacing="0"
                                                                cellpadding="0"
                                                                border=0
                                                                style="width: auto; margin-right: 5px; cursor: hand; margin-left: 5px; display: inline-block;"
                                                                id="tbl_dadCancel"
                                                                align='right'
                                                                class='uir-button'
                                                            >
                                                                <tbody>
                                                                    <tr
                                                                        class="pgBntG"
                                                                        id="tr_dadCancel"
                                                                    >
                                                                        <td width="45%""></td>
                                                                        <td id="tdleftcap_dadCancel"><img
                                                                            height="50%"
                                                                            width="3"
                                                                            border="0"
                                                                            class="bntLT"
                                                                            src="/images/nav/ns_x.gif"
                                                                        > <img
                                                                            height="50%"
                                                                            width="3"
                                                                            border="0"
                                                                            class="bntLB"
                                                                            src="/images/nav/ns_x.gif"
                                                                        ></td>
                                                                        <td
                                                                            height="20"
                                                                            valign="top"
                                                                            nowrap=""
                                                                            class="bntBgB"
                                                                            id="tdbody_dadCancel"
                                                                        ><input
                                                                            type="button"
                                                                            onmouseover="if(this.getAttribute('_mousedown')=='T') setButtonDown(true, false, this);"
                                                                            onmouseout="if(this.getAttribute('_mousedown')=='T') setButtonDown(false, false, this);"
                                                                            onmouseup="this.setAttribute('_mousedown','F'); setButtonDown(false, false, this);"
                                                                            onmousedown="this.setAttribute('_mousedown','T'); setButtonDown(true, false, this);"
                                                                            onclick='dadHideFileCabinetFolderPicker();'
                                                                            id="dadCancel"
                                                                            value="Cancel"
                                                                            class="rndbuttoninpt bntBgT"
                                                                            style=""
                                                                            _mousedown="F"
                                                                        ></td>
                                                                        <td id="tdrightcap_dadCancel"><img
                                                                            height="50%"
                                                                            width="3"
                                                                            border="0"
                                                                            class="bntRT"
                                                                            src="/images/nav/ns_x.gif"
                                                                        > <img
                                                                            height="50%"
                                                                            width="3"
                                                                            border="0"
                                                                            class="bntRB"
                                                                            src="/images/nav/ns_x.gif"
                                                                        ></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table> 
                                                            
                                                            <!-- end of cancel button --> 
                                                            
                                                            <!-- start of choose folder button -->
                                                            <table
                                                                border="0"
                                                                cellspacing="0"
                                                                cellpadding="0"
                                                                style="margin-right: 6px; cursor: hand;"
                                                                class="uir-button"
                                                                id="tbl_newfolder"
                                                            >
                                                                <tbody>
                                                                    <tr
                                                                        class="pgBntG pgBntB"
                                                                        id="tr_newfolder"
                                                                    >
                                                                        <td id="tdleftcap_newfolder"><img
                                                                            width="3"
                                                                            height="50%"
                                                                            border="0"
                                                                            class="bntLT"
                                                                            src="/images/nav/ns_x.gif"
                                                                        > <img
                                                                            width="3"
                                                                            height="50%"
                                                                            border="0"
                                                                            class="bntLB"
                                                                            src="/images/nav/ns_x.gif"
                                                                        ></td>
                                                                        <td
                                                                            valign="top"
                                                                            nowrap=""
                                                                            height="20"
                                                                            class="bntBgB"
                                                                            id="tdbody_newfolder"
                                                                        ><input
                                                                            type="button"
                                                                            onmouseover="if(this.getAttribute('_mousedown')=='T') setButtonDown(true, false, this);"
                                                                            onmouseout="if(this.getAttribute('_mousedown')=='T') setButtonDown(false, false, this);"
                                                                            onmouseup="this.setAttribute('_mousedown','F'); setButtonDown(false, false, this);"
                                                                            onmousedown="this.setAttribute('_mousedown','T'); setButtonDown(true, false, this);"
                                                                            onclick="dadFolderSelectedFromFileCabinet(); return false;"
                                                                            name="dadSaveAccountPreference"
                                                                            id="dadSaveAccountPreference"
                                                                            value="Choose Folder"
                                                                            class="rndbuttoninpt bntBgT"
                                                                            style="color: white !important"
                                                                        ></td>
                                                                        <td id="tdrightcap_newfolder"><img
                                                                            width="3"
                                                                            height="50%"
                                                                            border="0"
                                                                            class="bntRT"
                                                                            src="/images/nav/ns_x.gif"
                                                                        > <img
                                                                            width="3"
                                                                            height="50%"
                                                                            border="0"
                                                                            class="bntRB"
                                                                            src="/images/nav/ns_x.gif"
                                                                        ></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table> <!-- end of choose folder button -->
                                                        </td>
                                                        <td colspan='2'>&nbsp;<span
                                                            id='dadUserPrefInfo'
                                                            class='smalltext'
                                                            style='color: red'
                                                        >&nbsp;</span></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                    </div></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- end screen for file cabinet picker -->

<!-- start - In-App Help Notification -->
<div id='dadInAppNotif' style='display: none;'>
    <b>File Drag and Drop</b>
    <br/>
    Launch the File Drag and Drop Tutorial to learn more about the feature.
    <table
        width="100%"
        cellspacing="0"
        cellpadding="0"
        border="0"
        style="margin-top: 15px;"
    >
        <tbody>
            <tr>
                <td>
                    <table
                        style="border-collapse: collapse; border: 0px !important;"
                    >
                        <tbody>
                            <tr>
                                <td
                                    style="padding: 0px; width: 10%;"
                                >
                                    <table
                                        id="tbl_dadNotifBtnTutorial"
                                        class="uir-button"
                                        cellspacing="0"
                                        cellpadding="0"
                                        border="0"
                                    >
                                        <tbody>
                                            <tr
                                                id="tr_dadNotifBtnTutorial"
                                                class="pgBntG pgBntB"
                                            >
                                                <td id="tdleftcap_dadNotifBtnTutorial"><img
                                                    class="bntLT"
                                                    width="3"
                                                    height="50%"
                                                    border="0"
                                                    src="/images/nav/ns_x.gif"
                                                > <img
                                                    class="bntLB"
                                                    width="3"
                                                    height="50%"
                                                    border="0"
                                                    src="/images/nav/ns_x.gif"
                                                ></td>
                                                <td
                                                    id="tdbody_dadNotifBtnTutorial"
                                                    class="bntBgB dadTooltipButtonTdBody"
                                                    valign="top"
                                                    nowrap=""
                                                ><input
                                                    id="dadNotifBtnTutorial"
                                                    class="rndbuttoninpt bntBgT"
                                                    type="button"
                                                    onmouseover="if(this.getAttribute('_mousedown')=='T') setButtonDown(true, true, this);"
                                                    onmouseout="if(this.getAttribute('_mousedown')=='T') setButtonDown(false, true, this);"
                                                    onmouseup="this.setAttribute('_mousedown','F'); setButtonDown(false, true, this);"
                                                    onmousedown="this.setAttribute('_mousedown','T'); setButtonDown(true, true, this);"
                                                    onclick="return dadHelp(); return false;"
                                                    name="refreshmessages"
                                                    value="Launch Tutorial"
                                                    style=""
                                                    _mousedown="F"
                                                ></td>
                                                <td id="tdrightcap_dadNotifBtnTutorial"><img
                                                    class="bntRT"
                                                    width="3"
                                                    height="50%"
                                                    border="0"
                                                    src="/images/nav/ns_x.gif"
                                                > <img
                                                    class="bntRB"
                                                    width="3"
                                                    height="50%"
                                                    border="0"
                                                    src="/images/nav/ns_x.gif"
                                                ></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table
                                        id="tbl_dadNotifBtnDontShow"
                                        class="uir-button"
                                        cellspacing="0"
                                        cellpadding="0"
                                        border="0"
                                    >
                                        <tbody>
                                            <tr
                                                id="tr_dadNotifBtnClose"
                                                class="tabBnt"
                                            >
                                                <td id="tdleftcap_dadNotifBtnClose"><img
                                                    class="bntLT"
                                                    width="10"
                                                    height="50%"
                                                    border="0"
                                                    src="/images/nav/ns_x.gif"
                                                > <img
                                                    class="bntLB"
                                                    width="10"
                                                    height="50%"
                                                    border="0"
                                                    src="/images/nav/ns_x.gif"
                                                ></td>
                                                <td
                                                    id="tdbody_dadNotifBtnClose"
                                                    class="bntBgB dadTooltipButtonTdBody"
                                                    valign="top"
                                                    nowrap=""
                                                    height="20"
                                                ><input
                                                    id="dadNotifBtnClose"
                                                    class="rndbuttoninpt bntBgT"
                                                    type="button"
                                                    onmouseover="if(this.getAttribute('_mousedown')=='T') setButtonDown(true, true, this);"
                                                    onmouseout="if(this.getAttribute('_mousedown')=='T') setButtonDown(false, true, this);"
                                                    onmouseup="this.setAttribute('_mousedown','F'); setButtonDown(false, true, this);"
                                                    onmousedown="this.setAttribute('_mousedown','T'); setButtonDown(true, true, this);"
                                                    onclick="Ext.Msg.hide(); return dadSpotlight(event, '');"
                                                    value="Close"
                                                ></td>
                                                <td id="tdrightcap_dadNotifBtnClose"><img
                                                    class="bntRT"
                                                    width="10"
                                                    height="50%"
                                                    border="0"
                                                    src="/images/nav/ns_x.gif"
                                                > <img
                                                    class="bntRB"
                                                    width="10"
                                                    height="50%"
                                                    border="0"
                                                    src="/images/nav/ns_x.gif"
                                                ></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td 
                                    colspan="2"
                                    style="padding: 0px;">
                                    <table
                                        id="tbl_dadNotifChkboxDontShow"
                                        style="border-collapse: collapse; border: 0px !important;"
                                    >
                                        <tbody>
                                            <tr
                                                id="tr_dadNotifChkboxDontShow"
                                            >
                                                <td
                                                    id="tdbody_dadNotifChkboxDontShow"
                                                    style="padding: 0px;"
                                                >
                                                    <input
                                                        id="dadNotifChkboxDontShow"
                                                        type="checkbox"
                                                        value="Don't show this message again"
                                                        style="margin-right: 0px; margin-left: 0px;"
                                                        onclick="dadSetSuppressTutorial();"
                                                    >
                                                    <span style="vertical-align: top;">Don't show this message again</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- end - In-App Help Notification -->