/**
* © 2014 NetSuite Inc.  User may not copy, modify, distribute, or re-bundle or otherwise make available this code. 
*/

body::-webkit-scrollbar {
    width: 0 !important;
    overflow: hidden;
}

#dndToolbar a {
 text-decoration: none;
 margin-left: 10px;
 margin-right: 10px;
 vertical-align: middle;
}

.dad-pipe {
 margin-left: 15px;
 margin-right: 15px;
 display: none;
}

#dndToolbar {
    text-align:left;
    min-width: 300px;
    vertical-align: middle;
    position: absolute;
    color: dimgray;
    white-space: nowrap;
    z-index: 22;
    border: 0px dashed blue;
    padding-top: 0px;   
    padding-left: 20px; 
}

#dadDropZone {
    line-height: 50px;
    border: 3px dashed silver;
    height: 75px;
    width: 1300;
    vertical-align: middle;
    margin: 0: padding: 0;
    margin-bottom: 10px;
    cursor: pointer;
    z-index: 19;
    background-color: transparent;
    color: silver;
    visibility: hidden;
    position: absolute;
}

#dadDropZoneBackground {
    font-size: 3em;
    vertical-align: middle;
    position: absolute;
    background-color: white;
    visibility: hidden;
    overflow: hidden;
    z-index: 18;
    border: 0px dashed red;
}

#dadDropZoneBackgroundStatus {
    text-align:center;
    height: 100%;
    min-width: 300px;
    width: 1300;
    vertical-align: middle;
    position: absolute;
    color: dimgray;
    white-space: nowrap;
    z-index: 2;
    border: 0px dashed blue;
    padding-top: 18px;   
}

#dadDropZoneBackgroundBar {
    height: 100px;
    background-color: lightblue;
    visibility: hidden;
    z-index: 1;
    border: 0px dashed red;
    position: absolute;
    padding-top: 10px;   
}

.dadProgressBarBox {
	margin-top: 5px;
	border: 1px solid silver;
	width: 100%;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}

.dadProgressBar {
	background-color: lightblue;
	position: absolute;
	z-index: 1;
}

.dadProgressStatus {
	color: dimgray;
	position: absolute;
	z-index: 2;
	width: 92%;
	padding-left: 2px;
	margin: 0px;
	height: 20px;
}

.dadInfo {
	background-color: lightyellow;
	border: 1px solid yellow;
	color: dimgray;
	padding: 2px;
	position: absolute;
	z-index: 9000;
}

.dadFileStatusText {
	width: 320px;
	border: 0px dotted red;
	overflow: hidden;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	white-space: nowrap;
}

.dadCancelLink {
	float: right; 
	top: -5px;
}

.x-tip-tr .x-tip-tc {
    padding-top: 5px;
}

body::-webkit-scrollbar { width: 0 !important }
