/**
* © 2014 NetSuite Inc.  User may not copy, modify, distribute, or re-bundle or otherwise make available this code. 
*/

body::-webkit-scrollbar {
    width: 0 !important;
    overflow: hidden;
}

#dndToolbar a {
 text-decoration: none;
 margin-left: 10px;
 margin-right: 10px;
 vertical-align: middle;
}

.dad-pipe {
 margin-left: 15px;
 margin-right: 15px;
 display: none;
}

#dndToolbar {
    text-align:left;
    min-width: 300px;
    vertical-align: middle;
    position: absolute;
    color: dimgray;
    white-space: nowrap;
    z-index: 22;
    border: 0px dashed blue;
    padding-top: 10px;
    padding-left: 20px;
}

#dadDropZone {
    line-height: 50px;
    border: 2px dashed silver;
    height: 42px;
    width: 345px;
    vertical-align: middle;
    margin: 0: padding: 0;
    margin-bottom: 10px;
    cursor: pointer;
    z-index: 19;
    background-color: transparent;
    color: silver;
    visibility: hidden;
    position: absolute;
}

#dadDropZoneBackground {
    vertical-align: middle;
    position: absolute;
    background-color: white;
    visibility: hidden;
    overflow: hidden;
    z-index: 18;
    border: 0px dashed red;
}

#dadDropZoneBackgroundStatus {
    padding-left: 64px;
    min-width: 345px;
    position: absolute;
    height: 100%;
    z-index: 2;
    vertical-align: middle;
    padding-top: 12px;
    white-space: nowrap;
    border: 0px dashed red;
    color: #545454;
    font-size: 13px;
}

#dadDropZoneBackgroundBar {
    height: 92%;
    background-color: #ffc000;
    visibility: hidden;
    z-index: 1;
    border: 0px dashed red;
    position: absolute;
    margin-top: 2px;
    margin-left: 2px;
}

.dadProgressBarBox {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #CCC;
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    position: relative;
}

.dadProgressBar {
    background-color: #FFC000;
	position: absolute;
	z-index: 1;
	height : 19px;
}

.dadProgressStatus {
	color: #545454;
	position: absolute;
	z-index: 2;
	width: 92%;
	padding-left: 2px;
	margin: 0px;
	height: 20px;
	font-size : 11px;
}

.dadInfo {
	background-color: lightyellow;
	border: 1px solid yellow;
	color: dimgray;
	padding: 2px;
	position: absolute;
	z-index: 9000;
}

.dadFileStatusText {
	width: 320px;
	border: 0px dotted red;
	overflow: hidden;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	white-space: nowrap;
}

.dadFileCancelLink {
    margin-top: 1px;
    margin-left: 340px;
    position: absolute;
    z-index: 3;
    border-bottom-style : none;
}

.x-tip-tr .x-tip-tc {
    padding-top: 5px;
}

body::-webkit-scrollbar { width: 0 !important }

.x-window-bl {
    background-color: #E4E4E4;
}

.x-window-br {
    padding-left : 17px
}
