<span id='processing'></span>
<!-- this is used as tooltip help in line items -->
<div id='dadInfo' class='dadInfo' style='visibility:  hidden; z-index: 9001; position: absolute;'>
    Drop file in the highlighted line item
</div>
<div id='dadRecordDropZone' onclick='dadShowFolderMenu();' title='Click here to see additional options or to view your upload progress.'>
    <a id='dadFolderOpen' href='#'><img id='dadImgFolderInfo' src='/images/nav/mediatypes/folder.gif?v=2013.1.0&v=2013.1.0' style='visibility: hidden; z-index: 1401; margin-top: 6px'/></a>
</div>
<div id='dadRecordDropZoneBackground'>
    <div id='dadRecordDropZoneBackgroundStatus' title='Click here for additional options or see your upload progress'>
        &nbsp;
    </div>
    <div id='dadRecordDropZoneBackgroundBar'>
        &nbsp;
    </div>
</div>
<!-- this is used in displaying the files attached to a line item -->
<div id="dadFilesBox" class="x-hidden">
    <div id='dadWindowHeader' class="x-window-header">
        Files Attached to Line
    </div>
    <div id='dadFilesContent' class="x-window-body">
        list of files will go here
    </div>
</div>
