/**
* © 2014 NetSuite Inc.  User may not copy, modify, distribute, or re-bundle or otherwise make available this code.
*/

/* float clearing for IE6 */
* html .clearfix {
	height: 1%;
	overflow: visible;
}
/* float clearing for IE7 */
*+html .clearfix {
	min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
}

.x-tool-close {
    margin-top: 5px;
}

.dadFileStatusText {
	width: 320px;
	border: 0px dotted red;
	overflow: hidden;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	white-space: nowrap;
}

#dadRecordDropZone {
    color: silver;
    border: 2px dashed silver;
    position: absolute;
    vertical-align: center;
    visibility: hidden;
    z-index: 19;
    background-color: transparent;
    cursor: pointer;
    margin-top: 3px;
    height: 34px;
}

#dadRecordDropZoneBackground {
    border: 0px dashed red;
    position: absolute;
    vertical-align: center;
    visibility: hidden;
    z-index: 18; /* should be lower than that of  #dadRecordDropZone */
    background-color: white;
    vertical-align: middle;
    overflow: hidden;
    margin-top: 3px;
    height: 34px;
}

#dadRecordDropZoneBackgroundStatus {
    padding-left: 64px;
    min-width: 345px;
    position: absolute;
    height: 100%;
    z-index: 2;
    vertical-align: middle;
    padding-top: 6px;
    white-space: nowrap;
    border: 0px dashed red;
    color: #545454;
    font-size: 13px;
}

.dadCancelLink{
    margin-top: 1px;
    margin-left: 340px;
    position: absolute;
    z-index: 3;
    border-bottom-style : none;
}

#dadRecordDropZoneBackgroundBar {
    background-color: #ffc000;
    height: 92%;
    margin-top: 2px;
    position: absolute;
    visibility: hidden;
    z-index: 1;
    margin-left: 2px;
}

.dadProgressBarBox {
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #CCC;
	width: 100%;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}

.dadProgressBar {
	background-color: #FFC000;
	position: absolute;
	z-index: 1;
	height : 19px;
}

.dadProgressStatus {
	color: #545454;
	position: absolute;
	z-index: 2;
	width: 100%;
	padding-left: 2px;
	margin: 0px;
	height: 20px;
	font-size : 11px;
}

.dadInfo {
	background-color: lightyellow;
	border: 1px solid yellow;
	color: dimgray;
	padding: 2px;
	position: absolute;
	z-index: 9000;
}


.x-tip .x-tip-tc {
    padding-top: 5px;
}

.x-window-bl {
    background-color: #E4E4E4;
}

.x-window-br {
    padding-left : 17px
}

#dadImgFolderInfo {
    visibility: hidden;
    z-index: 1401;
    margin-top: 3px;
    padding-left: 11px;
}

#dadbtnNext, #dadbtnCancel {
    font-size: 13px !important;
    height: 20px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

#dadNotifBtnTutorial, #dadNotifBtnClose {
    font-size: 13px !important;
    height: 20px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

#tbl_dadbtnNext, #tbl_dadbtnCancel, #tbl_dadNotifBtnTutorial, #tbl_dadNotifBtnClose {
    margin-right: 3px !important;
    cursor: hand;
}

#dadTooltipInAppNotifButtons {
    display: none;
    margin-top : 15px;
}

.dadTooltipButtonTdBody {
    height : 22px !important;
}
